<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatble" content="ie=edge">
	<title>Login</title>
</head>
<body bgcolor="lightyellow">
    {% block body_block %}
    
    <div class="jumbotron"
    
        <h1>Please Login Here!</h1>
        <form action="{% url 'accounts:user_login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="enter username"><br>

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="enter password"><br>

            <input type="submit" name="" value="Login">
        </form>

    
	{% endblock %}

</body>
</html>